[run]
branch = True
source = {{ cookiecutter.pkg_name }}

[paths]
source =
    src/{{ cookiecutter.pkg_name }}
    .tox/*/lib/python*/site-packages/{{ cookiecutter.pkg_name }}

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
show_missing = True

